* {
    box-sizing: border-box;
}
$red: #ac1f23;
$gray: rgba(128, 130, 133, 0.47);
$gray-bg: #e6e7e8;
html,body {
    padding: 0;
    margin: 0;
    
    width: 100%;
    height: 100%;
}
body {
    color: black;
    background: white;
    font-family: "Segoe UI", sans-serif;
    font-size: 24px;
    @media only screen and (max-width: 600px) {
        font-size: 18px;
    }
}
#section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 100%;
    padding: 7% 0;
    border-bottom: 4px solid $red;
    position: relative;
    overflow: hidden;
}
@media only screen and (max-width: 800px) {

    .h3 {height: 800px;}
    .h4 {
        height: 900px;
        @media only screen and (max-width: 400px) {
            height: 700px;
        }
    }
}
img {
    &.logo {
        width: 208px;
        @media only screen and (max-height: 600px) {
            width: 108px;
        }
    }
    &.nadpis-titulka {width: 100%; max-width: 1500px;}
    &.scroll {
        width: 50px;
        padding-top: 20px;
    }
    &.nadpis {max-height: 150px;}
    &.podpis {
        width: 220px;
        @media only screen and (max-width: 340px) {
            width: 190px;
        }
    }
    &.kontaktframe {
        @media only screen and (min-width: 800px) {
            @media only screen and (max-width: 1080px) {
                width: 100%;
            }
        }
        @media only screen and (max-width: 799px) {
                width: 80%;
        }
    }
}
.logo-wrapper {
    width: 100%;
    background: /*url(../img/logo-lines.svg)*/ none;
    background-size: 20px;
    background-repeat: repeat-x;
    background-position: center 70px;
    display: flex;
    justify-content: center;
    @media only screen and (max-height: 600px) {
        background-position: center 38px;
        background-size: 10px;
    }
}
.bg {
    background-image: url(../img/bg/6.jpg);
    background-color: white;
    background-repeat: repeat-x;
    background-position: center bottom;
    @media only screen and (max-height: 800px) {
        background-image: url(../img/bg/6m.jpg);
        background-size: cover;
        background-position: center top;
    }
}
.bg-two {
    background-image: url(../img/bg/5.jpg);
    background-color: white;
    background-repeat: x-repeat;
    background-position: center;
}
.bg-three {
    background-image: url(../img/bg/1.jpg);
    background-color: white;
    background-repeat: x-repeat;
    background-position: center;
}
.col {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    div {
        display: flex;
        flex-direction: row;
        margin: auto;
        a {
            display: flex;
            flex-direction: column;
            margin: 20px;
            padding: 10px;
            text-decoration: none;
            color: black;
            border: 2px solid $gray;
            background: white;
            &:hover {
                background: rgba(214, 214, 214, 0.44);
            }
            img {
                width: 220px;
                height: 220px;
            }
        }
    }
}
.row {
    width: 100%;
    max-width: 1500px;
    display: flex;
    flex-direction: row;
    margin: auto;
    @media only screen and (max-width: 800px) {
        width: 100%;
        flex-direction: column;
    }
    div {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        img.profilovka {
            max-width: 300px;
            max-height: 300px;
            margin: 20px;
            padding: 10px;
            border: 1px solid #d6d6d6;
            background: white;
            @media only screen and (max-width: 400px) {
                max-width: 220px;
                max-height: 220px;
            }
        }
        &.right{justify-content: flex-end; align-items: flex-end;}
        &.left{justify-content: flex-start; align-items: flex-start;}
    }
}
span {
    margin: 20px;
    padding: 10px;
    max-width: 500px;
    border: 2px solid $gray;
    background: white;
    a {
        text-decoration: none;
        color: black;
    }
}
iframe { /* ios iframe bug fix */
    width: 0;
    height: 0;

    min-width: 100%;
    min-height: 100%; 
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 12px;
    opacity: 0.5;
    color: $red;
    a {
        color: $red;
        margin: 0 3px;
        &:hover {color: #868686;}
    }
    img {
        width: 18px;
        height: 18px;
        margin: 0 5px 0 3px;
    }
}
a.red {
    color: $red;
    font-size: 36px;
    @media only screen and (max-width: 400px) {
        font-size: 24px;
    }
}
.greybg {
     background: $gray-bg;
    span {
        border: 2px solid $gray;
    }
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.armchair {
    padding: 25px;
}

.wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.desc {
    display: flex;
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 500px;
    padding: 0 20px;
}
